@page "/"
@model Claudiu_Cojocaru_Lab2.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.BookD.Books.First().Title)</th>
            <th>Author</th>
            <th>@Html.DisplayNameFor(model => model.BookD.Books.First().Price)</th>
            <th>@Html.DisplayNameFor(model => model.BookD.Books.First().PublishingDate)</th>
            <th>@Html.DisplayNameFor(model => model.BookD.Books.First().Publisher.PublisherName)</th>
            <th>Categories</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookD.Books)
        {
            string selectedRow = "";
            if (item.ID == Model.BookID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Author?.LastName @item.Author?.FirstName
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.PublishingDate.ToShortDateString()
                </td>
                <td>
                    @item.Publisher?.PublisherName
                </td>
                <td>
                    @{
                        if (item.BookCategories != null && item.BookCategories.Any())
                        {
                            foreach (var category in item.BookCategories)
                            {
                                @category.Category.CategoryName <br />
                            }
                        }
                        else
                        {
                            <span class="text-muted">Fără categorii</span>
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
